# Python virtualenv
.venv/
venv/
ENV/
env/
Interview/

# Python cache & testing
__pycache__/
*.py[cod]
*$py.class
.pytest_cache/
.mypy_cache/
.ruff_cache/
.coverage
htmlcov/

# Environment variables
.env
.env.*
!.env.example

# Archives & Logs
*.zip
*.tar.gz
*.log
logs/

# IDE & OS
.vscode/
.idea/
.DS_Store
Thumbs.db

